.container {
    background-color: chocolate;
    color: yellow;
    resize: vertical;
    align-items: center;
    border: 5px solid green;
    border-radius: 10px;
    box-shadow: 10px 5px gray;
    justify-content: center;
    display: flex;
    width: 50%;
}
h1 {
    text-align: center;
}
body {
    justify-content: center;
    display: flex;
}
div {
    margin: 25px;
    display: flex;
    flex-direction: column;
}
label {
    text-align: center;
}